@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #15a3ef;
  --secondary-color: #414649;
  --accent1-color: #212426;
  --accent2-color: #3fb5d4;

  /* change the values below to your chosen font(s) */
  --heading-font: "PT Serif", serif;
  --paragraph-font: "Roboto", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #15a3ef; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #212426; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #15a3ef;
  --nav-link-color: white;
  --nav-background-color: #15a3ef;
  --nav-hover-link-color: #414649;
  --nav-hover-background-color: #3fb5d4;

  --dark-grey: #353535;
  --middle-grey: #767676;
  --lightest-grey: linear-gradient(#fafafa, #ebebeb);
  --shadow: 0 5px 15px 0 #00000041;
  --shadow-active: 0 5px 5px 0 #00000026;
  --border-radius-main: 10px;
  --border-radius-icon: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--paragraph-font);
}

/* header */
header {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 90px 180px;
  padding: 10px 50px 15px;
  width: 100%;
  background-color: var(--nav-background-color);
}

#logoLink {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  text-decoration: none;
  color: var(--nav-link-color);
  grid-column: span 2;
}

#logoLink > img {
  height: 70%;
  border-radius: 3px;
}

#logoLink > span {
  font-size: 1.2rem;
  transition: 0.3s all;
}

#logoLink > span:hover {
  color: var(--paragraph-color-on-white);
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

nav > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--nav-link-color);
  height: 100%;
  display: grid;
  place-items: center;
  transition: 0.3s all;
  justify-content: start;
}

nav > a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

/* footer */
footer {
  display: grid;
  height: 200px;
  grid-template: repeat(3, 1fr) / 1fr;
  justify-content: center;
  justify-items: center;
  /* padding: 10px 0; */
  background-color: var(--accent1-color);
  color: var(--nav-link-color);
}

footer > ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
}

.footerLink {
  color: var(--nav-hover-link-color);
  color: var(--headline-color-on-color);
  transition: 0.3s all;
}

.footerLink:hover {
  color: var(--headline-color-on-white);
}

footer > div {
  display: grid;
  place-items: center;
  color: var(--headline-color-on-white);
}

#sitePlanLink {
  color: var(--headline-color-on-white);
  transition: 0.3s all;
}

#sitePlanLink:hover {
  color: var(--nav-link-color);
}

footer > span {
  display: grid;
  place-items: center;
  color: var(--headline-color-on-white);
}

main {
  padding: 0 30px;
}

/*-------- Home page --------*/
#heroHome {
  padding-bottom: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Left - text */
#heroHome > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#heroHome h1 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  color: var(--accent1-color);
  text-align: center;
}

#heroHome p {
  color: var(--secondary-color);
}

#heroHome-linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#heroHome-linksContainer > a {
  text-decoration: none;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s all;
}

#projectsLink {
  background-color: var(--nav-hover-link-color);
  color: var(--nav-link-color);
}

#projectsLink:hover {
  background-color: var(--nav-hover-background-color);
}

#contactLink {
  background-color: white;
  color: var(--accent1-color);
  border: 2px solid var(--accent1-color);
}

#contactLink:hover {
  background-color: var(--nav-hover-background-color);
  border: 2px solid var(--nav-hover-background-color);
  color: var(--nav-link-color);
}

/* Right - image */
#heroImg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  max-height: 500px;
}

/* findSection */
#findSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 4rem;
  justify-items: center;
}

.findSection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.findSection-card > div {
  height: 70px;
  width: 70px;
  background-color: var(--nav-background-color);
  opacity: 80%;
  border-radius: 20px;
}

.findSection-card > div > img {
  padding: 18px;
  height: 100%;
  color: white;
}

.findSection-card > h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

.findSection-card > p {
  color: var(--nav-hover-link-color);
  text-align: center;
  line-height: 1.4rem;
}

#youllFind {
  grid-column: 1/2;
}

#goodCandidate {
  grid-column: 2/3;
}

#projectsMore {
  grid-column: 3/4;
}

/* elsewhereSection */
#elsewhereSection {
  margin-bottom: 80px;
}

#elsewhereSection > p {
  line-height: 1.6rem;
  margin-top: 70px;
  color: var(--accent1-color);
  font-size: 1.1rem;
  font-weight: 400;
}

#finalPart {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#finalPart > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#finalPart > div > h3 {
  font-weight: 500;
  font-size: 1.7rem;
}

#finalPart > div > p {
  line-height: 1.4rem;
  padding: 0 40px 0 0;
  color: var(--nav-hover-link-color);
}

#finalPart > img {
  height: 60%;
  width: 100%;
  max-height: 500px;
  max-width: 700px;
  object-fit: cover;
  border-radius: 10px;
  grid-column: 2/3;
}

/*-------- Projects page --------*/
#mainProjects {
  padding: 50px 30px;
}

/* hero */
#hero {
  position: relative;
  height: calc(100vh - 200px);
}

#heroImgProjects {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.676);
  pointer-events: none;
  z-index: 20;
}

#heroTextProjects {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--accent2-color);
  padding: 40px;
  text-align: center;
}

#heroTextProjects > h1 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
}

#heroTextProjects > p {
  line-height: 25px;
}

/* main */
#mainText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#mainText > h2 {
  font-family: var(--heading-font);
  font-size: 2.2rem;
  text-align: center;
}

#mainText > p {
  line-height: 22px;
}

#cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 50px;
}

/* project-card */
.project-card {
  min-height: 550px;
  min-width: 300px;
  position: relative;
  display: grid;
  gap: 1rem;
  text-align: center;
  cursor: default;
  color: var(--dark-grey);
  opacity: 0.9;
  padding: 1.5rem;
  font-weight: 600;
  background: var(--lightest-grey);
  max-width: max-content;
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow);
  transition: 0.2s ease all;
}

.project-card:hover {
  box-shadow: var(--shadow-active);
}

.project-card > h4 {
  grid-row: 1/2;
  font-size: 1.8rem;
}

.project-card > a > img {
  grid-row: 2/3;
  grid-column: span 1;
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project-card-technologies {
  grid-row: 3/4;
  display: grid;
  align-items: center;
  gap: 0.7rem;
}

.project-card-technologies > div {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.project-card-technologies img {
  height: 60px;
}

.project-card-technologies span {
  font-size: 1.2rem;
}

/*-------- Contacts page --------*/
#mainContact {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* padding-top: 20px; */
  padding: 20px 20px 0;
  align-items: center;
}

/* imgsContainer */
#imgsContainer {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  height: 80%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

#imgsContainer > img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 10px;
}

#imgsContainer > img:last-child {
  grid-column: 1/3;
}

/* textContainer */
#textContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

#text-information h1 {
  color: var(--accent1-color);
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}

#text-information p {
  color: var(--middle-grey);
  line-height: 25px;
}

#text-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 2.5rem;
}

#text-contact > div {
  width: 250px;
  display: grid;
  place-items: center;
  gap: 0.6rem;
}

.imgContainer {
  height: 70px;
  width: 70px;
  background-color: var(--nav-background-color);
  opacity: 80%;
  border-radius: 20px;
  display: grid;
  place-items: center;
}

#text-contact img {
  height: 70%;
  width: 70%;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  /* header */
  header {
    grid-template-rows: 90px;
    padding: 0 50px;
    position: fixed;
    z-index: 100;
  }

  #logoLink {
    gap: 1.6rem;
    grid-column: span 1;
  }

  #logoLink > img {
    height: 60%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  nav > a {
    padding: 0 20px;
  }

  /* footer */
  footer > ul {
    gap: 5rem;
  }

  /*-------- Home page --------*/
  main {
    padding: 0;
  }

  #heroHome {
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;
    padding-top: 90px;
  }

  /* Left - text */
  #heroHome > div {
    width: 60%;
    max-width: 400px;
  }

  #heroHome h1 {
    font-size: 3.5rem;
    text-align: start;
  }

  #heroHome-linksContainer > a {
    display: grid;
    place-items: center;
  }

  /* Right - image */
  #heroImg {
    height: 70%;
    width: 80%;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  /* findSection */
  #findSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    align-items: start;
  }

  .findSection-card {
    width: 80%;
  }

  /* elsewhereSection */
  #elsewhereSection {
    width: 80%;
    margin: auto;
  }

  #elsewhereSection > p {
    margin: 80px 0 20px;
  }

  #finalPart {
    margin-top: 0;
    height: calc(100vh - 200px - 90px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  #finalPart > div {
    grid-column: 1/2;
    width: 90%;
    gap: 2rem;
  }

  #finalPart > div > h3 {
    font-size: 2.2rem;
  }

  /*-------- Projects page --------*/
  #hero {
    height: 100vh;
  }

  /* main */
  #mainProjects {
    max-width: 1100px;
    margin: auto;
  }

  /* hero */
  #hero {
    padding-top: 90px;
  }

  #heroTextProjects {
    width: 50%;
    margin: auto;
    color: var(--nav-link-color);
  }

  #heroTextProjects > h1 {
    font-size: 3.5rem;
  }

  #heroTextProjects > p {
    line-height: 25px;
  }

  #mainText > h2 {
    font-size: 2.2rem;
  }

  #cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-card {
    grid-column: span 1;
    max-width: 400px;
    min-height: 500px;
    justify-content: center;
  }

  /*-------- Contacts page --------*/
  #footerContact {
    height: 160px;
  }

  #mainContact {
    width: 1110px;
    margin: auto;
    min-height: calc(100vh - 160px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 90px 0 0;
    justify-items: center;
    gap: 5rem;
  }

  #imgsContainer {
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
    gap: 0;
    align-content: center;
  }

  #imgsContainer > img {
    height: 100%;
    width: 100%;
  }

  #imgsContainer > img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  #imgsContainer > img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 30;
  }

  #imgsContainer > img:nth-child(3) {
    grid-column: 3/5;
    grid-row: 3/5;
  }

  #textContainer {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 80%;
    align-items: start;
    gap: 4rem;
  }

  #text-information > h1 {
    font-size: 3.5rem;
    text-align: start;
  }

  #text-contact {
    display: flex;
    width: 100%;
  }

  #text-contact img {
    height: 60%;
    width: 60%;
  }
}
